/*.container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 100;
}

.priceTooltip {
    font-family: "Alumni Sans", sans-serif;
    position: relative;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 15px;
    color: #ff4e00;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    font-weight: 500;
}

.priceTooltipArrow {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #f5f5f5;
    transform: translateY(-50%);
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
}

.cartIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cartIcon.animating {
    animation: bounce 0.5s ease;
}

.cartBadge {
    font-family: "Alumni Sans", sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(-10%) translateY(20%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: #ff4e00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .container {
        bottom: 0;
        right: -10px;
        transform: scale(0.8);
    }

    .priceTooltip {
        padding: 8px 16px;
        margin-right: 12px;
        font-size: 1.3rem;
    }

    .cartIcon {
        width: 120px;
        height: 120px;
    }

    .cartBadge {
        width: 25px;
        height: 25px;
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .container {
        bottom: 0;
        right: -10px;
    }

    .priceTooltip {
        padding: 6px 12px;
        margin-right: 10px;
        font-size: 1.2rem;
    }

    .cartIcon {
        width: 110px;
        height: 110px;
    }

    .cartBadge {
        width: 22px;
        height: 22px;
        font-size: 1rem;
    }
}*/
