/* styles/ProductClient.module.css */
.modalOverlay {
    position: fixed;
    top: -0.2rem;
    left: -0.2rem;
    right: -0.2rem;
    bottom: -0.2rem;
    width: calc(100vw + 0.4rem);
    height: calc(100vh + 0.4rem);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.closeButton:hover {
    color: #000;
}

.productPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.productImageWrapper {
    margin-bottom: 20px;
}

/* Alcohol images */
.productImageDrinks {
    height: 250px;
    width: 350px;
    object-fit: contain;
    background-color: white;
    width: 100%;
}

/* Products images */
.productImageMenu {
    height: 250px;
    width: 350px;
    width: 100%;
    object-fit: cover;
}

.productImage {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productDetails {
    text-align: center;
}

.productDescription {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
}

.productRegion,
.productColor,
.productAllergens {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
}

.productPrice {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.quantityControls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.controlButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.controlButton:hover {
    color: #000;
}

.quantityDisplay {
    font-size: 1.2rem;
    margin: 0 15px;
}

.addToCartButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.addToCartButton:hover {
    background-color: #0056b3;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
    .modalContent {
        width: 100%;
        padding: 10px;
    }

    .productTitle {
        font-size: 1.5rem;
    }

    .productDescription {
        font-size: 1rem;
    }

    .productPrice {
        font-size: 1.2rem;
    }

    .quantityControls {
        flex-direction: column;
    }

    .controlButton {
        font-size: 20px;
    }

    .quantityDisplay {
        margin: 10px 0;
    }

    .addToCartButton {
        width: 100%;
        padding: 10px;
    }
}
